.title {
    margin-bottom: 5px;
}

.providerList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.provider {
    display: flex;
    justify-content: flex-start;
    height: 130px;
    gap: 10px;
    width: 100%;
}

.providerInfo {
    border-radius: 6px 0px 0px 6px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    justify-content: center;
}

.logo {
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 30px;
}

.name {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.activatedQuantity {
    color: white;
    margin-top: 5px;
    font-size: 14px;
    padding: 3px 5px;
    border-radius: 4px;
    font-weight: bold;
}

.codeList {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    padding: 15px;
    border-radius: 0px 6px 6px 0px;
    background-color: white;
    height: 100%;
    width: 95%;
}

.codes {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    height: 80%;
    width: 100%;    
}

.codeBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    padding: 10px;
    width: 100px;
    background-color: lightgray;
    border-radius: 6px;
}

.code {

}

.createdAt {
    font-size: 13px;
}
