.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: space-evenly;
    border-radius: 8px;
    height: 450px;
    width: 500px;
    box-shadow: 0 1px 4px rgba(0,0,0,.05), 0 4px 16px rgba(0,0,0,.06);
    padding: 30px 20px;
}

.socialLogin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    width: 80%;
}

.socialLogin 
    .google, .facebook, .email {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 120px;
        padding-left: 20px;
        font-weight: bold;
        color: white;
        height: 50px;
        border: none;
        font-size: 17px;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
}

.socialLogin
    .google {
        background-color: #DB4437;
    }

    .google:hover {
        background-color: #dd5b4f;
    }

    .email {
        color: black;
    }
.socialLogin
    .facebook {
        background-color: #4267B2;
    }

    .facebook:hover {
        background-color: #597cc2;
    }