.alice-carousel__dots {
    margin: 10px;
  }
  
  .alice-carousel__stage {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  
  .alice-carousel__stage-item__active__target {
    width: 100px;
  }
  
  .alice-carousel__stage-item.__active {
    width: 100px !important;
  }
  