:root {
  --shadow: 0 1px 4px rgba(0,0,0,.05), 0 4px 16px rgba(0,0,0,.06);
  --darkColor: #060FBF;
  --lightColor: #38BDFF;
  --veryLightColor: #c7ecff;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
