@import "react-alice-carousel/lib/alice-carousel.css";

:root {

  --darkColor: #060FBF;
  --lightColor: #38BDFF;
  --veryLightColor: #c7ecff;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.alice-carousel__dots {
  margin: 10px;
}

.alice-carousel__stage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.alice-carousel__stage-item__active__target {
  width: 100px;
}
