@import "react-alice-carousel/lib/alice-carousel.css";

@import "activatedCodesSlide.css";

:root {
  --darkColor: #060fbf;
  --lightColor: #38bdff;
  --veryLightColor: #c7ecff;
  --shadow: 0 1px 4px rgba(0,0,0,.05), 0 4px 16px rgba(0,0,0,.06);
}

html {
  height: auto
}

body {
  height: auto;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

