.titleAndBtnUpdate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
}

.title {
  padding: 5px;
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: white;
}

.personalInfo,
.healthInfo,
.generalInfo,
.charts {
  background-color: white;
  border-radius: 6px;
  padding: 15px;
}

.form .personalInfoInputs,
.healthInfoInputs,
.generalInfoInputs {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;

  margin-top: 10px;
  border-radius: 6px;
}

.form .divInput {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  width: 300px;
}

.form .divInput input {
  height: 100%;
  width: 200px;
  outline: none;
  border-top: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
  border-left: none;
  padding: 10px;
  border-radius: 0px 4px 4px 0px;
}

.form .divInput label {
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 100%;
  font-size: 13px;
  border-top: var(--border);
  border-left: var(--border);
  border-bottom: var(--border);
  border-right: var(--border);
  border-radius: 4px 0px 0px 4px;
  width: 100px;
}

.healthInfo {
  margin-top: 10px;
}

.healthInfoBox {
  display: flex;
  width: 500px;
}

.healthInfoBox {
  display: flex;
}

.healthInfoInputs .divInput {
  width: 500px;
}

.healthInfoInputs .divInput label {
  font-weight: bold;
  width: 160px;
}

.healthInfoInputs .divInput input {
  width: 310px;
}

.healthDescription {
  display: flex;
}

.healthDescriptionTextarea {
  display: flex;
  flex-direction: column;
  resize: none;
  outline: none;
  width: 740px;
  height: 270px;
  background-color: white;
  border: var(--border);
  padding: 10px;
  border-radius: 4px;
}

.healthDescriptionTextarea textarea {
  resize: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.089);
  padding: 10px;
  height: 90%;
  border-radius: 4px;
}

.generalInfo {
  margin-top: 10px;
}

.generalInfo .frequency {
  width: 100%;
}

.frequency table {
  text-align: center;
  row-gap: 5px;
  column-gap: 5px;
}

.frequency td {
  border: var(--border);
  width: 40px;
}


.tables {
  width: 100%;
}

.tables table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 6px;
  text-align: center;
  overflow: hidden;
}

.preiods tr {
  border-radius: 6px;
}

.tables th {
  border: var(--border);
}

.tables td {
  overflow: hidden;
  height: 32px;
  border: var(--border);
}

.tables .tableInput {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  text-align: center;
}

.tables td:not(tr:nth-of-type(1) td) {
    color: red;
}

.tables .colPeriods {
  background-color: var(--yellowColor);
}

.tables .macrociclo {
  background-color: var(--lightYellowColor);
}

.tables .mesociclo {
  background-color: var(--veryLightYellowColor);
}

.colInclinacao {
    background-color: var(--yellowColor);
}

.colFCVo2Max {
    background-color: var(--lightYellowColor);
}

.subTr {
    background-color: var(--veryLightYellowColor);
}

.subTr td:nth-of-type(1) {
    background-color: white;
}

.charts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}
