.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: -webkit-linear-gradient(
    30deg,
    #ffffff 50%,
    var(--lightColor) 50%
  );
  height: 800px;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 100px;
  margin-bottom: 10px;
  background-color: var(--darkColor);
}

.logo {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: white;
}

.headerBtns {
  display: flex;
  justify-content: space-between;
  width: 110px;
}

.signOut,
.btnCustomers {
  background: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
  font-size: 15px;
}

.signOut:hover, .btnCustomers:hover {
  color: rgb(223, 221, 221);
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
