.section {
  border-radius: 6px;
  width: 100%;
  padding: 10px;
}

.hello {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  width: 100%;
  background-color: white;
  margin-bottom: 5px;
  box-shadow: var(--shadow);
  border-radius: 6px;
  padding: 5px 7px;
}


.title {
  font-size: 15px;
}

.containers {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 15px;
  
}

.subContainer {
  border-radius: 6px;
  background-color: white;
  padding: 10px;
  box-shadow: var(--shadow);
  width: 100%;
}

