.section {
  border-radius: 6px;
  width: 100%;

  padding: 10px;
}

.title {
  font-size: 15px;
  margin-top: 10px;
}

.containers {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 15px;
  
}

.subContainer {
  border-radius: 6px;
  background-color: white;
  padding: 10px;
  box-shadow: var(--shadow);
  width: 100%;
}

