.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 90%;
}

.form .inputs {
  width: 100%;
}

.inputs .input {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  
}

.inputImg {
  margin-bottom: 10px;
}

.input label,
.input input {
  align-items: center;
  display: flex;
  height: 100%;
  border: 1px solid rgb(177, 177, 177);
}

.inputErrorMsg {
  color: red;
  align-self: flex-start;
  margin-left: 5px;
  font-size: 12px;
}

.input label {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  padding: 0px 10px;
  width: 100px;
  border-radius: 6px 0px 0px 6px;
}

.input input {
  outline: none;
  border: 1px solid rgb(177, 177, 177);
  text-indent: 8px;
  width: 80%;
  border-radius: 0px 6px 6px 0px;
}

.form .btns {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
  margin-top: 10px;
}

.form .btns .submit,
.form .btns .btnSignUp {
  height: 40px;
  outline: none;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  width: 48%;
  cursor: pointer;
}

.form .btns .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--mainColor);
}

.form .btns .submit:hover {
  background-color: #323ad4;
}

.form .btns .btnSignUp {
  background-color: #38bdff;
}

.form .btns .btnSignUp:disabled {
  background-color: var(--redColor);
  cursor: default;
}

.form .btns .btnSignUp:disabled:hover {
  background-color: var(--redColor);
}

.form .btns .btnSignUp:hover {
  background-color: #69cafa;
}

.form .btnBack {
  align-self: flex-start;
  background: none;
  outline: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.form .btnBack:hover {
  color: var(--redColor);
}
